---
---

@import "{{ site.theme }}";

header {
  background-image: none;
  h1 {
    width: auto;
  }
  font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  a.button {
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1em;
    width: auto;
    height: auto;
    padding: 20px 30px;
    small {
      padding-left: 20px;
    }
    + a.button {
      small {
        padding-left: 2px;
      }
      padding: 20px 37px;
      top: 90px;
    }
  }
  a.button:hover {
    box-shadow: 0 0 0 5px #fff
  }
}

nav {
  background: #76bdfb;
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
  > li {
      display: inline-block;
      a {
        color: #fff;
        font-size: 2em;
        line-height: normal;
        display: inline-block;
        padding: 15px 0;
        width: 150px;
      }
      a:hover {
        background: #2E7BCF;
        color: #fff;
      }
    }
  }
}

#main-content {
  float: none;
  width: 100%;
  font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  h1, h2, h3, h4 {
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    text-align: center;
  }
  h1 {
    border-bottom: 3px solid;
    margin-bottom: 20px;
  }
  h1:before {
    display:none;
  }
  h2:before {
    display:none;
  }
  h3:before {
    display:none;
  }
  .about {
    padding: 0 50px;
  }
  p {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .project {
    width: 100%;
    border-bottom: 2px dashed #474747;
    margin-bottom: 20px;
    padding-bottom: 20px;
    aside {
      float: left;
      width: 30%;
      text-align: center;
      .logo {
        display: inline-block;
        margin-bottom: 10px;
      }
      h2 {
           margin: 0 0 10px 0;
           font-size: 2em;
           text-indent: 0;
      }
      #reaction {
        background: #ffff1e;
        border: 1px solid #474747;
        border-radius: 20px;
      }
    }
    section {
      margin-bottom: 0;
      float: left;
      width: 70%;
      p {
        padding-right: 50px;
      }
      ul {
        font-size: 1.5em;
      }
    }
  }
  .project:after {
    content: "";
    display: table;
    clear: both;
  }
  .content-btn {
    color: #2E7BCF;
    border: 1px solid #2E7BCF;
    border-radius: 1em;
    padding: 20px;
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 175px;
    text-align: center;
  }
  .content-btn:hover {
    box-shadow: 0 0 0 5px #2E7BCF;
  }
  .projects > section:last-of-type {
    border-bottom: none;
  }
  .skills {
    table {
      text-align: center;
      border-collapse: separate;
      border: none;
      border-spacing: 30px 0;
      td {
        border: none;
      }
      thead td {
        font-size: 1.5em;
        width: 33%;
        border-bottom: 1px solid;
        vertical-align: bottom;
      }
      tbody td {
        line-height: 2em;
      }
    }
  }
  #contact {
    margin-top: 20px;
  }
  .contact {
    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
      text-align: center;
    }
    li {
      display: inline-block;
      a {
        display: inline-block;
        font-size: 1.5em;
        margin:0 50px;
      }
    }
  }
}

@media (max-width: 959px) {
  header {
    h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  }
  #main-content {
    h1 {
      font-size: 2em;
    }
    aside h2 {
      font-size: 1.7em;
    }
    p {
      font-size: 1.5em;
    }
    .content-btn {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  header {
    a.button small {
      padding-left: 0;
    }
    a.button + a.button {
      top: 0;
      margin-left: 10px;
      padding: 20px 18px;
    }
  }
  #main-content {
    section.about {
      padding: 0;
    }
    p {
      font-size: 1em;
    }
    img {
      display: none;
    }
    aside h2 {
      font-size: 1.7em;
    }
    .project aside {
      float: none;
      width: 100%;
    }
    .project .desc {
      float: none;
      width: 100%;
    }
    .project section p {
      padding: 0;
    }
  }
}

@media (max-width: 434px) {
  header h1 {
    font-size: 36px;
  }
}

@media (max-width: 378px) {
  header {
    a.button + a.button {
      margin-left: 0;
    }
  }
}
