---
---

@import "{{ site.theme }}";

header {
  background-image: none;
  font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  a.button {
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1em;
    width: 0;
    height: 0;
    padding: 20px 30px;
    small {
      padding-left: 20px;
    }
    + a.button {
      small {
        padding-left: 2px;
      }
      padding: 20px 37px;
      top: 90px;
    }
  }
  a.button:hover {
    box-shadow: 0 0 0 5px #fff
  }
}

#main-content {
  float: none;
  width: 100%;
  font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  h1, h2, h3, h4 {
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    text-align: center;
  }
  h1 {
    border-bottom: 3px solid;
    margin-bottom: 20px;
  }
  h1:before {
    display:none;
  }
  h2:before {
    display:none;
  }
  h3:before {
    display:none;
  }
  .about {
    padding: 0 50px;
    font-size 2em;
  }
  .project {
    width: 100%;
    aside {
      float: left;
      width: 35%;
      text-align: center;
      h2 {
           margin: 0 0 10px 0;
           font-size: 2em;
           text-indent: 0;
      }
     .desc p {
       padding-left: 50px;
      }
    }
    section {
      float: left;
      width: 65%;
      p {
          font-size: 2em;
      }
    }
  }
  .project:after {
    content: "";
    display: table;
    clear: both;
  }
  .content-btn {
    color: #2E7BCF;
    border: 1px solid #2E7BCF;
    border-radius: 1em;
    padding: 20px;
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 175px;
    text-align: center;
  }
  .content-btn:hover {
    box-shadow: 0 0 0 5px #2E7BCF;
  }
}

